/NetBeansProjects/Test_client_server/build/
/NetBeansProjects/DapAn/build/
/NetBeansProjects/DapAn/nbproject/private/
/Dap_an/build/
/Dap_an/nbproject/private/
/New_question/nbproject/private/
/cau4/nbproject/private/
/cau4/build/
/cau4/dist/
/RMI_Byte/nbproject/private/
/RMI_Byte/build/
/RMI_Byte/dist/
/RMI3/nbproject/private/
/RMI3/build/
/RMI4/nbproject/private/
/RMI4/build/
/WS1/nbproject/private/
/WS1/build/
/cau13/nbproject/private/
/cau13/build/
/cau13/dist/
/cau14/nbproject/private/
/cau14/build/
